/* element styles */

/* body text/colors */
body {
  font-family: "Rubik", arial, sans-serif;
  font-size: 19px;
  
  color: #fff;
  background-color: #000;
  
  margin: 0;
}

/* link styles */
a {
  color: #fdcc4a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* display fonts */
h1, h2, h3, h4 {
  font-family: "Michroma", arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 37px;
}

/* section divider */
hr {
  width: 70vw;
}

/* container for all content */
main {
  line-height: 1.6; 
  padding: 1.5rem;
}

/* class styles */

.album-art {
  border: 0.3rem solid #fff;
  border-radius: 100%;
  
  margin: 2rem 0 1rem 2rem;
  max-width: 11rem;
}

.album-info {
  margin: 1.2rem 0 1rem 0;
  width: fit-content;
}

/* fontawesome star icon */
.fa-solid {
  color: #fdcc4a;
}

.header-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review {
  margin: auto;
  max-width: 80ch;
}

.review-title {
  padding: 1rem;
}

.track-list {
  margin: auto;
  max-width: fit-content;
  padding: 1rem 0 1rem 0;
}
